<div style="position: fixed;  bottom: 4px;  right: 13px; z-index: 999999999999999;">
  <button md-button md-fab class="md-fab md-primary" aria-label="" (click)="submitEdit()" *ngIf="editMode">
    <img src="assets/img/ic_save_white_36px.svg">
  </button>

  <button md-button md-fab class="md-fab md-primary" aria-label="" (click)="changeEditMode()">
    <img src="assets/img//ic_mode_edit_white_36px.svg">
  </button>
</div>

<div class="row" style="padding-top: 15px;">
  <div class="col-md-8">

    <div *ngIf="editMode && poi">
      <input [(ngModel)]="poi.name" type="text" class="form-control">
      <br>

      <div class="row">
        <div class="col-md-6">
          <input placeholder="imageUrl" [(ngModel)]="poi.content.imageUrl" class="form-control"> <br>
        </div>
        <div class="col-md-6">
          <input placeholder="videoUrl" [(ngModel)]="poi.content.videoUrl" class="form-control">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          lat <br>
          <input placeholder="lat" [(ngModel)]="poi.location.latitude" class="form-control"> <br>
        </div>
        <div class="col-md-6">
          long <br>
          <input placeholder="long" [(ngModel)]="poi.location.longitude" class="form-control">
        </div>
      </div>

      <button class="btn btn-danger pull-right" (click)="deletePoi()">
        Удалить
      </button>
    </div>

    <div *ngIf="!editMode">
      <h1>{{poi?.name}}</h1> <br>
    </div>

    <div *ngIf="poi">
      <app-tinymce [(ngModel)]='poi.description'></app-tinymce>
    </div>

  </div>

  <div class="col-md-4">
    <img [attr.src]="poi?.content.imageUrl" class="img img-responsive">
    <br><br>

    <div>
      <img [attr.src]="mapUrlSrc">
    </div>

    <div *ngIf="videoUrlIframeSrc">
      <br><br>
      <iframe width="420" height="315" [attr.src]="videoUrlIframeSrc" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>

    <br><br>

    <qr-code [value]="pageUrl" [size]="274"></qr-code>

  </div>
</div>
