<div class="main">
  <md-toolbar color="primary">
    <span>Мобильный гид</span>
    <span class="spacer"></span>
  </md-toolbar>

  <div class="sidenav sidenav-backdrop"></div>
  <aside class="sidenav">
    <div class="sidenav-container">
      <header>
        <a [routerLink]="['/']">
          <img alt="MD2" src="assets/img/ic_launcher.png">
        </a>
      </header>
      <ul class="margin-top-md">
        <li>
          <a [routerLink]="['/']">
            Интересные места
          </a>
        </li>
        <li>
          <a [routerLink]="['/cities']">
            Города
          </a>
        </li>
        <li>
          <a [routerLink]="['/']">
            Путешествия
          </a>
        </li>
      </ul>
    </div>
  </aside>


  <div class="container">
    <div class="inner-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
