<div style="position: fixed;  bottom: 4px;  right: 13px; z-index: 999999999999999;">
  <button md-button md-fab class="md-fab md-primary" aria-label="" (click)="addPoi()">
    <img src="assets/img/ic_add_black_24px.svg"/>
  </button>
</div>

<table class="table table-condensed table-stripped table-hover">
  <thead>
  <tr>
    <th class="mini-col-md">
      №
    </th>
    <th>
    </th>

    <th>
      Название
    </th>
    <th>
      Город
    </th>

    <th>
      Рейтинг
    </th>

    <th class="col-md-1">
      latitude
    </th>

    <th class="col-md-1">
      longitude
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let poi of allPois;let i = index; trackBy: trackById">
    <td>
      {{i+1}}
    </td>

    <td>
      <a [routerLink]="['/poi/details', poi.id]">
        <div *ngIf="poi.content.imageUrl != null && poi.content.imageUrl != ''">
          <img src="{{poi.content.imageUrl}}" height="50" width="50">
        </div>

        <div *ngIf="poi.content.imageUrl == null || poi.content.imageUrl == ''">
          <img src="../../assets/img/ic_placeholder.jpg" height="50" width="50">
        </div>
      </a>
    </td>

    <td>
      <a [routerLink]="['/poi/details', poi.id]">
        {{poi.name}}
      </a>
    </td>

    <td>
      <span>
      {{ poi.cityId | printCity }}
      </span>
    </td>

    <td>
      {{poi.rating}}
    </td>

    <td>
      {{poi.location.latitude | number}}
    </td>
    <td>
      {{poi.location.longitude | number}}
    </td>

  </tr>
  </tbody>
</table>
